<!--<h1>Register</h1>-->
<section class=" register flex justify-center pt-24">



<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
             Name
            </label>
            <input class="shadow appearance-none border-rounded w-full py-2 px-3 text-gray-700 " id="username" type="text" placeholder="Enter your Name">
          </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
         E-Mail   
        </label>
        <input class="shadow appearance-none border-rounded w-full py-2 px-3 text-gray-700 " id="username" type="e-mail" placeholder="Enter your E-mail">
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight " id="password" type="password" placeholder="******************">
      </div>
      <div class="flex items-center justify-between">
        <button class="btn-primary rounded-full text-white font-bold py-2 px-4 " type="button">
          Register
        </button>
        <a class="inline-block align-baseline font-bold text-sm ml-2 " href="/login">
          Already have account ?
        </a>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2022 CustomerGod  Corp. All rights reserved.
    </p>
  </div>
</section>
